# Data Science Tools and Ecosystem 
#### (IBM Data Science Module 6 Assignment)

#### Introduction 
In this notebook, we will explore tools for Data Science. We will cover programming languages, libraries, tools, and some basic arithmetic operations with code examples.

#### List of data science languages
1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala
6. C++
7. Julia

#### List of data science libraries
* Scientific Computing:
  - Pandas
  - NumPy
* Visualization
  - Matplotlib
  - Seaborn
* High-level machine learning
  - Scikit-learn

#### Below are a few examples of Data Science tools:

| Tool              | Description                          |
|-------------------|--------------------------------------|
| Jupyter Notebook  | Interactive environment for coding   |
| RStudio           | IDE for R programming                |
| Apache Zeppelin   | Web-based notebook for data analysis |

#### Evaluating arithmetic expressions

In [1]:
(23 * 4) + 15

107

####  Convert minutes to hours

In [3]:
var_input= int(input("Insert minutes:"))
print("Hour(s):", var_input/60)

Insert minutes: 300

Hour(s): 5.0

#### Objectives:

- List languages for Data Science  
- Identify common libraries used in Data Science  
- Create tables in markdown  
- Perform arithmetic operations using code  
- Convert time units using Python

#### Author:
Tathagata Abhigyan Sinha